    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About Mountain Man Technologies</h2>
              <br/>
                <p>We are a software development consultancy based out of Denver, Colorado.</p>
                <p>Our passion is helping businesses find affordable solutions for workflow and data pain points that get in the way of customer hapiness.</p>
                <br/>
              </div>
        </div>
    </section>
